# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Data (Don't upload large datasets to GitHub)
*.csv
*.dat
*.pkl
*.h5
*.parquet
data/
datasets/

# OS
.DS_Store
